<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXCzL6UuC_VRC_a05KHEuE0B0fARUM7yI</string>
	<key>GCM_SENDER_ID</key>
	<string>195842948453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apos</string>
	<key>PROJECT_ID</key>
	<string>apos-d1548</string>
	<key>STORAGE_BUCKET</key>
	<string>apos-d1548.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195842948453:ios:39a9611e098d6d6304b58c</string>
	<key>DATABASE_URL</key>
	<string>https://apos-d1548-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>